
<br>
<br>
<br>

<br>
<br>
<br><br><br><br><br>


<div class="container">
<div class="row mb-0">
    <div class="col-md-4">
  
      <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <img class="card-img-left flex-auto d-none d-lg-block" data-src="holder.js/100x125?theme=thumb" alt="Thumbnail [100x125]" style="width: 100px; height: 125px;" src="https://pedidos.praxair.com.co/iconos/Autorizacion.png" data-holder-rendered="true">
     
        <div class="card-body d-flex flex-column align-items-start">
         
          <h6 class="mb-0">
            <a class="text-info" href="#"><b> Registro de Pedidos</b></a>
          </h6>
          <br>
          <p class="card-text mb-auto">Podras registrar tu solicitud de pedido de acuerdo a los productos autorizados por tu entidad Promotora de Salud. <br></p>
          
        </div>
        </div>
    </div>

    <div class="col-md-4">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                  <img class="card-img-left flex-auto d-none d-lg-block" data-src="holder.js/100x125?theme=thumb" alt="Thumbnail [100x125]" style="width: 100px; height: 125px;" src="https://pedidos.praxair.com.co/iconos/registro.png" data-holder-rendered="true">
           
              <div class="card-body d-flex flex-column align-items-start">
               
                <h6 class="mb-0">
                  <a class="text-info" href="#"><b> Consulta de Autorizaciones</b></a>
                </h6>
                <br>
              
                <p class="card-text mb-auto">Verifica el estado de tu autorizacion y los productos disponibles, Esta opcion tambien te permite registrar tu pedido</p>
               
              </div>
              </div>
    </div>

    <div class="col-md-4">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                      <img class="card-img-left flex-auto d-none d-lg-block" data-src="holder.js/100x125?theme=thumb" alt="Thumbnail [100x125]" style="width: 100px; height: 125px;" src="https://pedidos.praxair.com.co/iconos/Pedidos.png" data-holder-rendered="true">
               
                  <div class="card-body d-flex flex-column align-items-start">
                   
                    <h6 class="mb-0">
                      <a class="text-info" href="#"><b> Consulta de Pedidos</b></a>
                    </h6>
                   <br>

                    <p class="card-text mb-auto">Realiza la consulta del historial de pedidos, incluyendo los pedidos ya atendidos y los que se encuentren por atender</p>
                  
                  </div>
                  </div>
    </div> 

  </div>    
<div  class="row text-center mb-0" >
  <div class="col-md-12">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">          
      <div class="card-body d-flex flex-column align-items-center  justify-content-center">         
        ¡Estimado Usuario!  Con el propósito de activar los protocolos de precaución internos correspondientes, solicitamos  comunique a nuestra línea de servicio al cliente si en el  domicilio de entrega del pedido hay  alguna persona con diagnóstico de COVID 19 o a la espera de la respuesta de resultado del mismo.<br>
      </div>
     </div>
  </div>
</div>
<div  class="row text-center mb-0" >
  <div class="col-md-12">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">          
      <div class="card-body d-flex flex-column align-items-center  justify-content-center">        
              Todos los pedidos registrados después de las 07:00 PM serán atendidos el día subsiguiente a la solicitud o de acuerdo al día de visita; para el caso de poblaciones. En caso de alguna novedad con la fecha de entrega, no registrar pedido por este medio y establecer contacto con nuestras líneas de servicio al cliente 018000 527 527- 031-705 20 00- 031 401 30 00.
      </div>
    </div>
  </div>

</div>

</div>

         

      